.card {
    display: flex;
    padding: 1.75rem 3rem 1.5rem 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    border-top: 8px solid #8CD0FD;
}

.orange_border {
    border-top: 8px solid var(--color-orange);
}

.blue_border {
    border-top: 8px solid var(--color-blue);
}

.green_border {
    border-top: 8px solid var(--color-green);
}

