.Name {
    /* Layout */
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;

    /* Typography */
    color: var(--figma-color-text);
    font-size: 1.125rem;
    font-weight: 600;
}