.name {
    /* Layout */
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;
    align-self: stretch;

    /* Typography */
    color: var(--figma-color-text);
    font-size: 1.125rem;
    font-weight: 600;
}

.name:empty::before {
    content: attr(placeholder);
    color: var(--figma-color-text-danger);
    font-style: italic;
    font-weight: 400;
    cursor: text;
    background-color: var(--figma-color-bg-danger-tertiary
    );

}

.name:empty:focus::before {
    content: "";
}